
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление сотрудника</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h2>Добавление сотрудника</h2>
    <form method="post">
        {% csrf_token %}
        <label for="organization">Организация:</label>
        <select id="organization" name="organization">
            <option value="">Выберите организацию</option>
            {% for org in organizations %}
                <option value="{{ org.id }}">{{ org.full_name }}</option>
            {% endfor %}
        </select>
        <br><br>
       <label for="profession">Профессия:</label>
         <select id="profession" name="profession">
            <option value="">Выберите профессию</option>
         </select>
        <br><br>
        {{ form.as_p }}
        <button type="submit">Добавить сотрудника</button>
    </form>

    <script>
        $(document).ready(function() {
            $('#organization').change(function() {
                const organizationId = $(this).val();
                const url = "{% url 'get_professions' %}";
                if (organizationId) {
                    $.ajax({
                        url: url,
                        data: {'organization_id': organizationId},
                        success: function(data) {
                            $('#profession').empty();
                            $('#profession').append('<option value="">Выберите профессию</option>');
                            data.forEach(function(item) {
                                $('#profession').append('<option value="' + item.id + '">' + item.department_name + '</option>');
                            });
                        }
                    });
                } else {
                    $('#profession').empty();
                    $('#profession').append('<option value="">Выберите профессию</option>');
                }
            });
        });
    </script>
</body>
</html>
